@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap'); 
body{
    overflow: hidden;
    background-color: #e0f1e7;
    font-family: "Karla";
}
.card{
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    margin-top: 15vh;
}
.title{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}
label{
    font-size: 16px;
}
.first{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.last{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
.name label{
    margin-bottom: 10px;
}
.general{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}
.support{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;     
}
.querybuttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.general label{
    font-size: 14px;
}
.support label{
    font-size: 14px;
}
.general input{
    margin-left: 20px;
    margin-right: 10px;
}
.support input{
    margin-left: 20px;
    margin-right: 10px;
}

.message{
    height: 100px;
    text-align: left;
    line-height: 1.5;
    box-sizing: border-box;
}
.consent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.check{
    height: 20px;
    margin: 0;
}
.consent label{
    font-size: 14px;
}
.submit{
    background-color:#0c7d69 ;
    height: 35px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-family: "Karla";
}
.submit:hover{
    background-color: #063f36;
    cursor: pointer;
}
input:hover{
    cursor: pointer;
    border: 1px solid #0c7d69;
}
.general label{
    cursor: pointer;
}
.support label{
    cursor: pointer;
}

.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: 4px;
  left: -2px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: 4px;
  left: -2px;
  position: relative;
  background-color: #0c7d69;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* Change background color and border when the radio button is checked */
.radio-container input:checked + .checkmark1 {
  background-color: #e0f1e7;
  border-color: #095c4c;
}

/* Style the checkmark text */
.checkmark1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* Create the indicator inside the radio button (hidden when not checked) */
.radio-container input:checked + .checkmark1::after {
  content: "";
  position: absolute;
  display: block;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.checkbox-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.error{
  margin: 0;
  font-size: 12px;
  color: red;
}